/* ------------------Originally Designed by collin grasley - 2006 collingrasley@gmail.com ---------------------------*/
/*-------------------Modified for Matt's March Madness use by Matt Felser - 2007 ------------------------------------*/

/* 1464AC main dark blue */
/* 40A5DE light blue */
/* D27B1C is text header color (H tags): orange */


body { 
	margin:0px 0; 
	padding:0;
	background:url(bodybg.gif) repeat; 
	font: 74% Arial, Sans-Serif; 
	color:#ccc;  
	line-height: 1.4em; 
}

table {
	border-collapse: collapse;
}

.content { 
	background: #101010;
	color:#a3b2ba; 
	margin: 0 auto; 
	padding: 0; 
	width: 800px;
	border-left:6px solid #000;
	border-right:6px solid #000;
}

.img {
	padding: 0 12px 8px 0;
	float: left;
}
a
.img2 {
	padding: 0 0 3px 3px;
	float: right;
}



/* 
 Here is the start of the header Information
*/
#top {
	padding: 0;
	margin: 0;
	height: 44px;
}

#top .rightlinks { 
	float: right;
	color: #999;
	padding: 20px 25px 0 0;
	font-size: 90%;
}

#top a { 
color: #999; 
}


#header { 
margin: 0; 
background: url(head.jpg) no-repeat;  
background-position: right;
background-color: #1363a8;
height: 127px; 
color:#a3b2ba; 
}


#header .info {	
padding: 25px 0 0 30px; 
}
#header h1 {
font-family: Geneva, Arial, Helvetica, sans-serif ;
color:#fff;
font-size: 29px; font-weight: bold;
margin: 0;
padding: 0; 
}

#header h2 {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 16px; 
background-image: none;
color:#fff;
margin: 0;
padding: 6px 0 0 2px;
}


/* */
#subheader { 
	background: inherit; 
	width: 800px;
	height: 35px;
	color: #FFF;
}
#subheader .padding { 
padding: 10px 15px 10px 15px;
 
}
#subheader h2 { 
color:#D27B1C;
}
#subheader a {
color: #FECF5F; 
}

/*  Top Navigation */
#menu {
background: inherit;
width: 780px;
height: 38px;
margin: 0;
padding: 0;
}

#menu ul { 
margin:0; 
list-style:none; 
padding: 5px 0 0 20px; 
}
#menu a, #nav strong, #nav span { 
float:left; 
display:block;
background: #101010;
border-top: 4px solid #1464AC;
color:#999; 
padding: 5px;
font-weight:bold; 
text-decoration:none;
text-transform:uppercase;  
}
#menu a { 
float:none; 
}
#menu li { 
float:left; 
background:inherit; 
margin:2px; padding:0 0 0 0px; 
}
#menu a:hover { 
float:left; 
display:block; 
background: #151515;
border-top: 4px solid #D27B1C;
color:#fff; 
padding: 5px; 
text-decoration:none;
}  
#menu .padding { 
padding: 5px 0 0 10px; 
font-weight: bold; 
color: #808080;
}


/**/
.nav { 
text-align: left; 
color: #808080;
padding: 20px 0 0 0px; 
width: 244px; 
}
.nav li { 
margin: 5px 0 5px 0px; 
padding: 0px 0 0 0px; 
border-bottom: 1px dotted #888;
}

#stats li {
list-style: none;
}

.nav li a { 
color:#999999;
font-weight:bold;
text-decoration: none;  
padding: 5px 0 1px 5px; 
background: #101010;
display: block; 
margin-bottom: 2px;
}
.nav li a:hover { 
color: #fff; 
text-decoration: none; 
background:#212121;
display: block; 
margin-bottom: 2px;
}


/* The meat and potatoes*/
#main { 
background: inherit;  
width: 800px; 
margin: 0 ;
color: #808080; 
}  
#main .right_side { 
float: right;
padding:0px 4px 0 10px; 
margin:0;
background:inherit;
width: 250px; 
}

#main .right_side .hitems { 
margin: 0; 	
padding: 0; 
}
#main .right_side .hitems ul { 
margin: 5px 0 5px 0; 
padding : 0; 
color: #808080;

}
	
#main .right_side .hitems li { 
	margin: 0 0 2px 20px;
	padding: 0 0 0 0px;
	 
}


#main .left_side { 
float: left; 
width: 500px; 
background: inherit; 
padding:15px 15px 0 15px; 
margin:0; 
}
#main h3, #posts h3 {
font: 14px Arial, Sans-Serif;
text-transform:uppercase; 
margin: 2px 0 10px 0px; 
padding: 0; 
color: #999; 
background: inherit; 
border-bottom: 1px dotted #40A5DE;
}

#main .box  {	
background: #efefef; 
padding: 5px; 
border: 1px solid #ccc;
}

#main .right_side ul { 
margin: 5px 0 5px 0; 
padding : 0; 
list-style : none; 
border-bottom: 0px solid #eee; 
list-style-type: square;
color: #a90000;
}
	
#main .right_side li { 
margin: 0 0 2px 2px;
padding: 0 0 0 0px;
}

#main .right_side  .padding {
margin: 0 0 20px 2px;
padding: 0 0 0 0px;
color: #808080;
}

#main .bracket {
color: #FFFFFF;
}

#main .forms {
width: 140px;
}

#stats #standings { 
	color:#FFFFFF;
}

.eliminated , .eliminated  a {
	color:#333;
	background:#808080;
}
.eliminated a:hover {
	color:#FFF;
}

.selected_sort
{
	background:#154575;
}

/* the footer info*/
#footer { 
clear:both;
height: 45px;
color: #808080; 
background:inherit;
border-top:1px dotted #888; 
font-size:90%; 
padding: 0; 
text-align:left; 
}

#footer .info { padding: 20px 0px 0px 5px; }
#footer .right { 
	float:right; 
	clear:right; 
	text-align:right; 
}

#footer a { color: #40A5DE; }


/* Odds and ends*/


ul { 
margin-left: 0; 
padding-left: 5px; 
list-style : square; 
}
li { 	
margin: 0 0 2px 15px; 
padding: 0 0 0 0px;	color: #777; 
}


p { 
margin: 0 0 5px 0; 
padding: 0; 
color: #808080; 
background: inherit; 
}
a { 
color:#40A5DE ;  
background: inherit; 
text-decoration:none; 
}
a:hover { 
color:#D27B1C;
background: inherit; 
text-decoration:underline; 
}

h1 { 
padding:0; 
margin:0; 
color:#D27B1C; 
background: inherit;
font: bold 23px Arial, Sans-Serif; 
letter-spacing: -1px;
}

h1 a { 
color:#D27B1C;
background: inherit; }

h2 { 
color:#D27B1C;
font-size:22px; 
font-weight:bold; 
margin: 5px 0 5px 0px; 
padding:0 0 0 2px; 
}

h2 a { 
background:inherit; 
color:#D27B1C; 
}
h2 a:hover { 
background:inherit; 
color: #68ADD5; 
text-decoration:none; 
 }


.date { 
	background:inherit;
	text-align: right; 
	margin: 4px 0 5px 0; 
	padding: 0.4em 0 0 0; 
	border-top: 1px dotted #eee;
}

.date a { 
color:#40A5DE ;
}

#border {
	border:thin;
	font-size:14px;
}

.strike {
	text-decoration:line-through;
	color: #FF0000;
}

.wrong {
	color: #FF0000;
}

.correction {
	font-style: italic;
}

.right {
	color:#00FF00
}

.gamevalue
{
	font-size:smaller;
}

.highlighted {
	color: #FFFFFF;
	font-size: 12px;
}

.full {width: 700px;}

div.errors, #container ul li
{
	margin: 0 0 10px 0; 
	padding: 5px 10px; 
	border: #FC6 1px solid; 
	background-color: #FFC; 
	color: #000;
}

div.errors p { 
	margin: 0; 
	font-size: 1.2em;
}

div.errors p em { 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
}

div.success, #container ul li.success
{
	margin: 0 0 10px 0; 
	padding: 5px 10px; 
	border: #444 1px solid; 
	background-color: #ddd; 
}

div.success p { 
	margin: 0; 
	font-size: 1.2em;
}

.content #main .full #bracketheader{
	clear: both;
	color:#FFF;
	font-size:18px; 
	line-height: 22px;
}

.scoredetail
{
	font-size: 12px;
	border-color: 1px gray;
}
.scoredetail table
{
	border-width: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: collapse;		
}

.scoredetail td
{
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
}

.scoredetail td.tableheader
{
	writing-mode: tb-rl;
}

.scoredetail td.hit
{
	background-color: green;
}

.scoredetail td.miss
{
	background-color: black;
}

.scoredetail tr.tableheader td
{
	font-weight: 800;
	color: #AAA;
	text-align: center;
}

.scoredetail tr.tablefooter td
{
	font-weight: 800;
	color: #AAA;
	text-align: center;
}

.thisuser td
{
	color:#FFF; 
	background-color: #D27B1C; 
}

.thisuser a
{
	color:#FFF; 
	background-color: #D27B1C;
}

#logout
{
	font-size: 10px;
	text-align: right; 
}

.paidPerson
{
	width: 185px;
}

.paidBracket
{
	width: 155px;
}

.paidEmail
{
	width: 231px;
}

.paidSelector
{
	width: 43px;
}

.paidHeader
{
	
	/*background-color: #1363a8;*/
	color: #FFF;
	border-bottom: 1px dotted #40A5DE;
}

.row0
{
	color:#FFF; 
	background-color: #666; 
}
.row1
{
	color:#FFF; 
	background-color: #000; 
}

p small
{
	display: block;
}

textarea
{
	width: 30em;
	background: white url(content_top.jpg) 0 0 repeat-x;
}

#comment_field {
	display: block;
}

#posts {
	width: 600px;
	padding: 20px;
}

.singlepost {
	font: 14px Arial, Sans-Serif;
	padding: 10px 10px 10px 10px; 
	margin-bottom: 10px;
	color: #999; 
	background: inherit; 
	border: 1px solid #999;
}
.from , .subject{
	padding-bottom: 10px;
}

#smacktalk
{
	margin-left: 15px;
	margin-top: 15px;

}

#smacktalk #addcomment
{
	padding-top: 5px;
	border-top: 1px dotted #40A5DE;
	width: 800px;
}

#smacktalk .messages
{
	padding-top: 5px;
	border-top: 1px dotted #40A5DE;
	max-height: 250px;
	overflow: auto;
	border-bottom: 1px dotted;
	width: auto;
	margin-right: 10px;
}

#smacktalk .messages .date { 
	background:inherit;
	text-align: right; 
	margin: 4px 0 5px 0; 
	padding: 0.4em 10px 0 0; 
	border: none;
}

#smacktalk .messages td { 
	border-bottom: 1px dotted #888;
	padding-top: 5px;
	padding-bottom: 5px;

}

#smacktalk .messages .bracketName
{
	float: right;
	white-space:nowrap;
	height: 100%;
}

#smacktalk .messages .postername
{
	color: #AAA; 
	font-weight: bolder;
	margin-right: 10px;
}

#smacktalk .teaser{
		color: #999; 
}
#smacktalk .teaser:hover{
	color: #40A5DE
}
.recentComment {
	background-image: url(basketball.png);
	background-repeat: no-repeat;
}

.recentComment a:hover
{
	text-decoration: none;
}

#main .recentComment {
	padding-bottom: 10px;
	margin-left: 5px;
}

#smacktalk.full .messages
{
	border-bottom: none;
	width: 800px;
}

#smacktalk.full .messages td 
{ 
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: none;
}

#smacktalk.full .messages tr
{ 
	border-bottom: 1px dotted #888;
	padding-top: 5px;
	padding-bottom: 5px;
}
